body {
  font-family: 'Old Standard TT', serif;
}
.navbar {
  font-weight: 100;
  background: rgba(0, 0, 0, 0.87);
  .navbar-brand h3 {
    font-weight: 100;
  }
  .nav-item {
    font-size: 1.5rem;
  }
  //Подчеркивание при наведении
  .nav-item:hover{
    transition: border;
    border-bottom: 1px solid navajowhite;
  }

}
#quotes{
  i {
    opacity: 0.3;

  }
}
#footer{
  font-weight: 100 ;
}

#showcase{
  background: url("../img/earth_horizon-2560x1440.jpg") top center / cover no-repeat;
  min-height: 500px;
  max-height: 300px;
  position: relative;

  #header{
    z-index: 2;
  }
  //#overlay{
  //  background: rgba(33, 216, 251, 0.21);
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: 1;
  //}
  h1 {
    font-family: "Playfair Display", serif;
    line-height: 1;
  }
  .btnFirstActionOnMainPage{
    font-size: 1.5rem;
    border-radius: 2rem;
  }

}




@media (max-width: 600px) {
  .navbar {
    background: #202020;
    .nav-link:hover{
      border-bottom: none;
    }
  }

  #shocase{
    h1{
      font-size: 4rem;
    }
    h3{
      font-size: 1.2rem;
    }
  }
}